/* main.css */
@import 'reset.css';
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700");

html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
  overflow-x: auto;
}

body {
  color: #18191F;
  background: #F9F9F9;
  font-family: "Open Sans",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
